<div class="container">
  <h2>Bienvenidos al Administrador</h2>
  <form class="row g-3" action="/admin/login" method="post">
    <div>

      <input type="text" id="inputUsuario" placeholder="Usuario" name="usuario">
    </div>
    <div class="col">

      <input type="password" id="inputPassword2" placeholder="Password" name="password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Entrar</button>
    </div>
  </form>



  {{#if error}}
  <p class="error">Usuario no encontrado</p>
  {{/if}}
</div>